scripts/fmriprep/run_files.*
scripts/fmriprep/*logs/
*logs/
scripts/mriqc/*logs/
scripts/mriqc/run_files.*
scripts/mriqc/tmp/*
scripts/old_scripts/
*.tsv
*.txt
grp-text.ipynb
.DS_Store
scripts/fmriprep/tmp/*
